@import "~bootstrap";

body {
    font-family: spartan;
    color: #444;
}

.jumbotron-img {
    background: rgb(237,116,88);
    background: linear-gradient(302deg, rgba(237,116,88,1), rgba(51,61,81,1));
    color: #fff;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}
.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #ED7458;
}
.q-container img, .q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}
q-display {
    background: #fff;
    border-radius: 0.25rem;
}
.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}
.q-title {
    text-transform: uppercase;
    color: #444;
}
.q-title:hover {
    color: #2b2b2b;
}
q-title h2 {
    font-size: 1.3rem;
}
q-display-response {
    color: #fff;
    background: #333D51;
}
.answer-link:hover .magic-wand {
    transform: rotate(20deg);
}
.vote-arrows {
    font-size: 1.5rem;
}
.vote-arrows span{
    font-size: 1rem;
}
.vote-arrows {
    color: #444;
}

.btn-question .badge {
    color: #ED7458;
    background-color: #ffffff;
}
footer {
    background-color: #efefee;
}